@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Open+Sans&family=Playfair+Display:wght@500&family=Poppins&display=swap');
@font-face { 
    font-family: "itc"; 
    src: url("../../static/itc.otf"); 
}
@font-face {
    font-family: "itc-normal";
    src: url("../../static/itc-normal.otf");
} 

html {
    font-family: 'itc', serif;
	scroll-behavior: smooth;
}
